body {
    background-color: #bea1a5;
    font-family: Playfair Display;
    }

img {
    max-width: 100%;
    height: auto;
    padding: 40px;
    justify-content: center;
    }

.about {
    justify-items: center;
    border-radius: 20px;
    padding: 20px; 
    width: 700px;
    height: 150px;
}

footer {
    padding: 20px;
    text-align: right;
    color: white;
}

header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

@media (max-width: 600px) {
    .about, img, footer {
        width: 100%;
        height: auto;